<header class="header sticky top-0 bg-[var(--cor-1)] shadow-md flex items-center justify-between px-8 py-02">
  <!-- logo -->
  <h1 class="w-3/12">
      <a href="">
        <span class="text-white">&lt;/GFMS&gt;</span>
      </a>
  </h1>

  <!-- navigation -->
  <nav class="nav font-semibold text-lg">
      <ul class="flex items-center">
          <li class="text-white p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active hover:text-primary">
            <a href="/sobre">Sobre</a>
          </li>
          <li class="text-white p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer hover:text-primary">
            <a href="/exp">Experiências</a>
          </li>
          <li class="text-white p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer hover:text-primary">
            <a href="/tecnologias">Tecnologias</a>
          </li>
          <li class="text-white p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer hover:text-primary">
            <a href="/projetos">Projetos</a>
          </li>
      </ul>
  </nav>


</header>