<body class="bg-[var(--cor-3)]">
<div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="lg:flex lg:items-center p-8 sm:p-12">
        <div class="flex-grow">
            <h2 class="text-white text-center text-2xl sm:text-5xl mb-2 ml-2">
                Olá, seja bem-vindo(a) <br>
                meu nome é: <br> 
                George F. M. Silva
            </h2>
            <h3 class="text-white text-center text-xl sm:text-2xl">
                Desenvolvedor Front-end | Analista de Sistemas
            </h3>
        </div>
    </div>
    <div class="flex-grow">
        <img src="/assets/george.png" alt="george" class="mx-auto transform scale-50 bg-[var(--cor-2)] rounded-full" >

    </div>
</div>
</body>
