<body class="bg-[var(--cor-3)]">
<div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="bg-blue-300 lg:min-h-screen lg:flex lg:items-center p-8 sm:p-12">
        <div class="flex-grow">
            <h2 class="text-white text-center text-2xl sm:text-5xl mb-2 ml-2">
                Olá, seja bem-vindo(a) <br>
                meu nome é: 
                <br> George Silva
            </h2>
            <h3 class="text-white text-center text-xl sm:text-2xl">
                Desenvolvedor Front-end e Analista nas horas vagas
            </h3>
        </div>
    </div>
    <div class=" ">
        <img src="/assets/web-development-svgrepo-com.svg" alt="Imagem teste" class="mx-auto h-1/2 p-20 object-center" >

    </div>
</div>
</body>
