<footer class="relative bg-[var(--cor-1)] pt-8 pb-6">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-3xl fonat-semibold text-white">
                    Entre em contato!
                </h4>
                <h5 class="text-lg mt-0 mb-2 text-white">
                    Você conseguirá me contactar em:
                </h5>
                <div class="flex flex-row space-x-5 mt-4 lg:mb-0 mb-6">
                    
                    <a href="http://www.github.com/georgefms" target="_blank">
                        <button class="rounded-full bg-white">
                            <img src="/assets/github.png" alt="github logo" class="h-6 w-6 m-1.5">
                        </button>
                    </a>
                    <a target="_blank" href="http://instagram.com/george_fms">
                        <button class="rounded-full bg-white">
                            <img src="/assets/instagram.png" alt="Instagram logo" class="h-6 w-6 m-1.5">
                        </button>
                    </a>
                    <a target="_blank" href="http://linkedin.com/in/georgefms">
                        <button class="rounded-full bg-white">
                            <img src="/assets/linkedin.png" alt="Linkedin logo" class="h-6 w-6 m-1.5">
                        </button>
                    </a>
                    <a target="_blank" href="mailto:georgefelipe8@gmail.com">
                        <button class="rounded-full bg-white">
                            <img src="/assets/mail.png" alt="Email logo" class="h-6 w-6 m-1.5">
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
